body { 
    font-family: Arial, sans-serif; /*fuente del texto*/
    line-height: 1.6; /*espaciado entre líneas*/
    background-color: #090909; /*fondo del titulo*/

}
nav {
    background-color: #000000; /*fondo del menu*/
    padding: 5px; /*espaciado interno en el menu*/
    text-align:end; /*alinear el texto del menu a la derecha*/
    
}
nav ul {
    list-style: none; /*quitar puntos de la lista*/
    padding: 0; /*quitar padding*/
    margin: 0; /*quitar margen*/
}
nav ul li {
    display: inline; /*mostrar los elementos en linea*/
    margin: 015px; /*margen entre los elementos del menu*/
}
h1, h2, h3 {
    color: #a79a9a; /*color del texto de los titulos*/
    font-weight: bold; /*negrita en los titulos*/
}
h1 {
  text-align: left;         /* Alineado a la izquierda */
  font-size: 2.4em;         /* Tamaño más grande y legible */
  color: #f1e9e9;              /* Color más contrastante */
  margin: 0 20px;           /* Espacio a los lados */
  font-family: 'Segoe UI', Tahoma, sans-serif;
}
h2 {
    margin-top: 20px; /*margen superior en el titulo secundario*/
    text-align: center; /*centrar los titulos secundarios*/
}
h3 {
    margin-top: 15px; /*margen superior en los titulos terciarios*/
    text-align: center; /*centrar los titulos terciarios*/
    color: #0c047b; /*color de los titulos terciarios*/
}
.contenido {
    max-width: 800px; /*ancho máximo del contenido*/
    margin: 0 auto; /*centrar el contenido*/
    padding: 20px; /*espaciado interno en el contenido*/
    background-color: #000000; /*fondo del contenido*/
    border-radius: 8px; /*bordes redondeados en el contenido*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /*sombra en el contenido*/
}
img {
    display: block;
    margin: 0 auto 20px; /*centrar las imagenes*/
    border-radius: 8px; /*bordes redondeados en las imagenes*/
}   
p {
    line-height: 1.6; /*espaciado entre líneas en los parragos*/
    color: #5a2388; /*color del texto de los parrafos y letras*/
    text-align: center; /*centar Descubre el diseño deportivo.....*/ 
}
ul {
    text-align: center;
}
h4 {
    text-align: center;
    color: #82d0c6;
    font-size: 1.9em;
}
a {
    color: #904040; /*color de los enlaces*/
    text-decoration: none; /*quitar subrayado en los enlaces*/
    font-weight: bold; /*negrita en los enlaces*/
    
}
a:hover {
    text-decoration: underline; /*subrayar al pasar el mouse por encima de los enlaces*/
    color: #454366; /*cambiar color al pasar el mouse por encima de los enlaces*/
}




 



