/* RESET GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FUENTE Y FONDO */
body {
  font-family: 'Segoe UI', sans-serif; /* Fuente principal */
  background-color: #141414; /* Fondo oscuro */
  color: #ffffff; /* Color del texto */
  line-height: 1.6; /* Espaciado entre líneas */
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between; /* Espacio entre logo y enlaces */
  align-items: center;  /* Alineación vertical */
  background-color: #000000; /* Fondo de la barra de navegación */
  padding: 1rem 2rem; /* Espaciado interno */
  border-bottom: 2px solid #184c9b; /* Línea inferior azul */
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-container img {
  width: 200px; /*logo*/
  height: 100px; /*logo*/
}

.nav_links {
  list-style: none; 
  display: flex;
  gap: 20px;
}

.nav_links a {
  color: #e6ebf2;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav_links a:hover {
  color: #2795bd;
}

/* HEADER */
header {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #0a0a0a;
}

.banner {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

header p {
  font-size: 1.1rem;
  color: #ccc;
}

/* SECCIONES */
section {
  padding: 2rem 1rem;
  text-align: center;
}

h3 {
  color: #d9dbdd;
  margin-bottom: 2rem;
  font-size: 34px;
}
h2 {
  color: #ffffff;
  margin-bottom: 2rem;
}
h4 {
  color: #23477e;
  margin-bottom: 1rem;
  font-size: 24px;
}

.contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.contenido-item {
  background-color: #545050;
  border: 1px solid #332e2e;
  padding: 1.5rem;
  border-radius: 12px;
  max-width: 300px;
  transition: transform 0.3s;
}

.contenido-item:hover {
  transform: scale(1.05);
}

.contenido-item img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* PROMO */
.promo {
  background: linear-gradient(90deg, #2f3337, #1a2854);
  color: white;
  padding: 2rem 1rem;
  border-radius: 10px;
  margin: 2rem auto;
  max-width: 600px;
  animation: pulse 2s infinite alternate;
}
.promo-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}

/* FORMULARIO */
.contacto form {
  background-color: #231b1b;
  padding: 2rem;
  border-radius: 15px;
  max-width: 400px;
  margin: auto;
  border: 1px solid #1a75ff;
}

.contacto .form-row {
  margin-bottom: 1.2rem;
  text-align: left;
}
h1{
    font-size:xx-large;

}
.contacto label {
  display: block;
  margin-bottom: 0.5rem; /* Espacio entre etiqueta y campo */
  font-weight: bold; /* Negrita para las etiquetas */
  color: #1a75ff; /* Color de las etiquetas */
}

.contacto input,
.contacto textarea {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px; /* Bordes redondeados */
  border: none;
  background-color: #403a3a; /* Fondo de los campos */
  color: white;
}

.contacto button {
  background-color: #4a5b72; /* Botón de contacto */
  color: rgb(228, 209, 209); /* Color del texto del botón */
  padding: 0.8rem 1.5rem;/* Espaciado del botón */
  border: none;/* Sin borde */
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer;
  transition: background 0.3s; 
}

.contacto button:hover {
  background-color: #1c5ba2; /* Efecto hover del botón */
}

/* FOOTER */
footer {
  text-align: center;
  background-color: #514e4e; /* Fondo de los derechos */
  padding: 1rem; 
  color: #777; /* Color del texto de los derechos */
  margin-top: 3rem;/* Espacio entre el contenido y el footer */
}

/* RESPONSIVE */
@media screen and (max-width: 768px) { 
  nav {
    flex-direction: column; 
    text-align: center;
  }

  .nav_links {
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
  }

  .contenido {
    flex-direction: column;
    align-items: center;
  }

  .contenido-item { /* Ajuste de ancho para pantallas pequeñas */
    max-width: 90%;
  }
  
}